{% extends "account/index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block start %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form | CodingLab</title>
  <link rel="stylesheet" href="{% static '/css/login.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>

<body>
  <div class="container">
    <div class="wrapper">
  <form method="POST">
    {% csrf_token %}
    <fieldset class ="fas pass">
      {{ form|crispy}}
      <a class="pass" href="#">Forgot password?</a>
    </fieldset>
    
    <div class="row button">
        <input type="submit" value="Login">
      </a>
    </div>
    <div class="signup-link">Not a member? <a href="{% url 'register' %}">Signup now</a></div>
  </form>
 </div>
 </div>

</body>

{% endblock start %}